.right {
  width: 325px;
  margin-top: 64px;
  border-radius: 8px;
  background: var(--base-white, #fff);
  height: fit-content;

  /* Shadow/lg */
  box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.05),
    0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  /* left: 0px; */
}

.title {
  border-radius: 8px 8px 0px 0px;
  background: var(--gray-gray-800, #1a202c);
  color: #fff;
  padding: 16px;
}

.tickets {
  cursor: pointer;
  padding: 24px 16px;
  border-bottom: 1px solid #e2e8f0;
  display: flex;
  justify-content: space-between;
}

.tickets:hover {
  background: #e2e8f073;
}


.tickets:last-child {
  border-bottom: 0px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 16px;

  img {
    width: 24px;
    height: 24px;
  }
}

.tickets p {
  max-width: 100%;

  color: var(--gray-600);

  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.tickets b {
  color: #222;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}



@media screen and (max-width: 1224px) {
  .right {

    width: 80%;
    position: inherit;
    margin-top: 24px;
  }


  .icon {
    gap: 24px;
  }

}

@media screen and (max-width: 468px) {
  .right {
    width: 100%;
    position: inherit;
    margin-top: 24px;
  }


  .icon {
    gap: 12px;
  }

}