.container {
  background-color: #fff;
  color: #000;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

form {
  margin: 0 auto;
  max-width: 720px;
  width: 100%;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.heading {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  border-bottom: 1px solid #e2e8f0;
}

.main {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  gap: 24px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.right {
  width: auto;
  max-width: 375px;
  border-radius: 8px;
  background: var(--base-white, #fff);

  /* Shadow/lg */
  box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.05),
    0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.invalid {
  border: 1px solid red;
}

input:focus {
  outline: none;
}

input {
  outline: none;
  color: var(--gray-700, #2D3748);
}

input:disabled {
  background-color: #eee;
  cursor: not-allowed;
  opacity: 0.4;
}

.error {
  color: red;
}

.right section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right button {
  padding: 8px;
  width: 200px;
  margin-bottom: 24px;
}

.rightTitle {
  border-radius: 8px 8px 0px 0px;
  background: var(--gray-800, #1a202c);
  color: #fff;
  padding: 16px;
}

.tickets {
  cursor: pointer;
  padding: 24px 16px;
  display: flex;
  justify-content: space-between;
}

.tickets p {
  color: #000;
  max-width: 100%;
}

.event_data {

  display: flex;
  flex-direction: column;
  gap: 16px;

  h2 {
    font-size: 36px;
    text-transform: uppercase;
  }
}

.event_info {
  display: flex;
  gap: 8px;
  align-items: center;

  img {
    width: 16px;
    height: 16px;
  }
}

.paragraph {
  color: var(--gray-600);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}


.responsible {
  color: #000;
  font-weight: bold;
}

.participants {
  padding: 24px 0 0 0;
  color: #000;
  font-weight: bold;
}

.single {
  padding: 12px 0;
  display: flex;
  flex-direction: column;
  gap: 8px;

  label {
    color: var(--gray-700, #2D3748);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
}

.double {
  display: flex;
  gap: 8px;
}

.double .single {
  width: 50%;
}

.formContainer {
  border-bottom: 1px solid #e2e8f0;
}

.formContainer:last-child {
  border-bottom: 0px;
}

.formContainer:first-child {
  padding-top: 0px;
}

button:disabled {
  background: var(--gray-400);
  box-shadow: none;

}

@media screen and (max-width: 912px) {

  form {
    width: 80%;
  }



  .double {
    flex-direction: column;
  }

  .double .single {
    width: 100%;
    padding: 8px 0;
    gap: 6px;
  }

  .event_data {

    h2 {
      font-size: 28px;
    }
  }
}