.main {
  margin: auto;
  width: 80%;
}

.section {
  display: flex;
  justify-content: space-between;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.title {
  max-width: 500px;
}

.text {
  max-width: 500px;
  margin-bottom: 4rem;
}

.button_cta {
  padding: 0.75rem 1.5rem;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .capa {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .capa {
    display: none;
  }
}
