.header {
  display: flex;
  align-items: center;
  padding: 2.5rem 0rem 1rem 0rem;
  justify-content: space-between;
}

.simpleHeader {
  display: flex;
  align-items: center;
  padding: 1rem 0rem 1rem 0rem;
  justify-content: space-between;
}

.button_header {
  padding: 1rem 1.25rem;
  width: 100%;
}

.none {
  display: none;
}

.button_cta {
  padding: 0.75rem 1.5rem;
}

.space {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.title {
  max-width: 500px;
}

.text {
  max-width: 500px;
  margin-bottom: 4rem;
}

.section {
  display: flex;
  justify-content: space-between;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.container_size {
  margin: auto;
  width: 80%;
}

.hamburger {
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .capa {
    display: none;
  }

  .space {
    gap: 1rem;
  }

  .section {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding: 1.5rem 0 2.5rem 0;
  }

  .capa {
    display: none;
  }

  .space {
    display: none;
  }

  .hamburger {
    display: flex;
  }

  .section {
    flex-direction: column-reverse;
  }

  .hamburger_menu {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;

    -webkit-animation: scale-in-ver-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: scale-in-ver-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  .hamburger_nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    padding: 0rem 2.5rem 2.5rem 1.5rem;
  }

  .none {
    display: none;
    -webkit-animation: scale-in-ver-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both;
    animation: scale-in-ver-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both;
  }
}

@-webkit-keyframes scale-in-ver-top {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }

  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
}

@keyframes scale-in-ver-top {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }

  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
}