.header {
    display: flex;
    align-items: center;
    padding: 2.5rem 5rem 5rem 5rem;
    justify-content: space-between;
}

.button_header {
    padding: 1rem 1.25rem;
}


.button_cta {
    padding: 0.75rem 1.5rem;
}

.space {
    display: flex;
    align-items: center;
    gap: 2.5rem;

}

.title {
    max-width: 500px;

}

.text {
    max-width: 500px;
    margin-bottom: 4rem;
}

.image_fake {
    width: 700px;
    height: 500px;
    background-color: white
}

.section {
    display: flex;
    justify-content: space-between;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 7.5rem;
    margin-right: 1rem;
}


.container_size {
    min-height: 793px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

    .space {
        gap: 1rem;

    }

    .section {
        flex-direction: column-reverse;
    }

    .image_fake {
        width: 100%;
    }

}

@media screen and (max-width: 767px) {

    .space {
        display: none;
    }


    .section {
        flex-direction: column-reverse;
    }

    .container {
        padding: 2.5rem;
    }

    .image_fake {
        width: 100%;
    }

    .header {
        padding: 1.5rem 2.5rem 2.5rem 1.5rem;
    }
}