.container_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0rem;

    margin: auto;
    width: 80%;
}

.simple_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0rem;

    margin: auto;
    width: 80%;
}

.space {
    display: flex;
    gap: 2.5rem;
}


@media screen and (max-width: 767px) {
    .container_footer {
        flex-direction: column;
        gap: 2rem;

        padding: 2rem 0rem;

    }
}