.container {
  background-color: #fff;
  color: #000;
}

.background {
  position: relative;
  filter: blur(2px);
  -webkit-filter: blur(2px);
  object-fit: cover;
  object-position: top;
  width: 100%;
  height: 291px;
  box-shadow: inset 0 0 0 1000px rgba(26, 32, 44, 0.9);
  display: flex;
  justify-content: center;
}

p {
  width: 100%;
  max-width: 70%;

}

.banner {
  top: 24px;
  width: 100%;
  height: 291px;
  overflow: hidden;
  position: absolute;
}

.banner img {
  display: block;
  border-radius: 8px;
  width: 72%;
  height: auto;
  margin: auto;
  bottom: 0;
}

.main {
  display: flex;
  height: 70vh;
  align-items: center;
  flex-direction: column;
}

.left {
  width: 72%;
}

.event_data {
  padding-top: 36px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.event_info {
  display: flex;
  gap: 8px;
  align-items: center;

  img {
    width: 16px;
    height: 16px;
  }
}

.event_data h2 {
  color: var(--base-black, #222);
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.5px;
}

.blank {
  height: 250px;
}

.paragraph {
  color: var(--gray-600);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .capa {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .capa {
    display: none;
  }

  .main {
    height: auto;
    padding: 24px 0px;
  }


  .banner img {
    width: 90%;
  }

  .event_data {
    padding-top: 0px;

  }
}