.container {
  background-color: #fff;
  color: #000;
  position: relative;
  height: 84vh;
}

.banner {
  width: 100%;
  height: 300px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #060919;
}

.background {
  display: flex;
  border-radius: 8px;
  width: 880px;
  height: 320px;
  margin: auto;
  top: 20px;
  right: 14%;
  left: 14%;
  position: absolute;
  object-fit: cover;
  object-position: top;

}

.main {
  display: flex;
  flex-direction: column;
  width: 880px;
  margin: auto;
}

p {
  width: 100%;
  max-width: 70%;

}


.left {
  width: 72%;
}

.event_data {
  padding-top: 36px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  width: 72%;
}

.event_info {
  display: flex;
  gap: 8px;
  align-items: center;

  img {
    width: 16px;
    height: 16px;
  }
}

.event_data h2 {
  color: var(--base-black, #222);
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.5px;
}

.blank {
  height: 250px;
}

.paragraph {
  color: var(--gray-600);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}

@media screen and (min-width: 768px) and (max-width: 1224px) {
  .capa {
    display: none;
  }

  .background {
    width: 660px;

    right: 10%;
    left: 10%;
  }

  .main {
    width: 660px;
    right: 10%;
    left: 10%;
  }

}

@media screen and (max-width: 767px) {
  .capa {
    display: none;
  }

  .container {
    height: auto;
  }

  .background {
    width: 100%;
    right: 0%;
    left: 0%;
    top: 0px;
    border-radius: 0;
  }

  .main {
    width: 80%;

    right: 10%;
    left: 10%;
    height: auto;
    padding: 24px 0px;
  }


  .event_data {
    width: 100%;
  }

}